@model IEnumerable<VotingSystem.Data.Ballots>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-white" style="text-align:center; border-top-left-radius: 10px; border-top-right-radius: 10px;">Ballots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm  table-striped" style="border-radius: 10px; border-color:black;" id="tbllist">
    <thead>
        <tr>
            <th>
                Candidate
            </th>
            <th>
                Position
            </th>
            <th>
                Party-list
            </th>
            <th>
                Votes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(b => b.candidateId))
        {
            var candidateName = group.First().candidate != null ? group.First().candidate.name : "N/A";
            var positionName = group.First().position.name;
            var partylistName = group.First().candidate != null ? group.First().candidate.partylist : "N/A";
            var candidateVotes = group.First().candidate != null ? group.First().candidate.votes : 0;

            <tr>
                <td>
                    @candidateName
                </td>
                <td>
                    @positionName
                </td>
                <td>
                    @partylistName
                </td>
                <td>
                    @group.Count()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@group.First().id" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@group.First().id" class="btn btn-sm btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@group.First().id" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
